#an-album {
    clear: both;
    height: 100%;
    transition: all .3s ease;
    h1 {
        text-align: center;
        span {
            cursor: pointer;
        }
    }
    &.fixed-album {
        box-sizing: border-box;
        position: fixed;
        z-index: 9999;
        top: 0;
        background: white;
        width: 100%;
        h1 {
            box-shadow: -1px -1px 30px rgba(black, 0.6);
            padding-bottom: 10px;
            padding-top: 20px;
            color: #f2f2da;
            background: rgb(125, 146, 185);
        }
        #an-lightbox {
            padding-top: 20px;
            overflow: auto;
            .full-images-wrapper {
                .img {
                }
            }
        }
    }
}
