@mixin btn {
    cursor: pointer;
    font-weight: normal;
}

#an-modal {
    display: inline-block;
    transition: all .9s;
    .open-btn {
    	@include btn;
    }
    .modal-window {
    	color: black;
    	position: relative;
        width: 60%;
        height: 80%;
        overflow: auto;
        margin: 7% auto 0 auto;
        background: white;

        .close-btn {
			position: absolute;
			top: 0px;
			right: 0px;
            margin-right: 0.4%;
            margin-top: 0.4%;
            font-size: 2rem;
			@include btn;
        }
        @media screen and (max-width: 800px){
            & {
                width: 100%;
                height: 100%;
                margin: 0;
            }
        }
    }
    &.show-modal {
    	top: 0;
    	left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(black, 0.5);
        z-index: 9999;
    }
}
