<div id="an-service">
    <div class="img-wrap">
        <img src="images/wedding.jpg" v-load-img>
        <an-svg-icon path="images/wedding.icon.svg" 
				    	class="service-icon" 
				    	v-link="{name: 'wedding'}"></an-svg-icon>		
        <span v-link="{name: 'wedding'}" class="service-name">Свадьбы..</span>
    </div>
    <div class="img-wrap">
        <img src="images/love-story.jpg" v-load-img>
    	<an-svg-icon path="images/love-story.icon.svg" 
				    	class="service-icon" 
				    	v-link="{name: 'loveStory'}"></an-svg-icon>	
        <span v-link="{name: 'loveStory'}" class="service-name">Love story..</span>
    </div>
</div>
